<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="com.oxygenxml.examples.gdrive.CustomProtocol"
 name="GDriveCustomProtocol"
 description="An example of a custom protocol implementation that connects to the user's Google Drive."
 version="${project.nosnapshot.version}"
 vendor="Syncro Soft SRL"
 class="com.oxygenxml.examples.gdrive.CustomProtocolPlugin"
 classLoaderType="preferOxygenResources">
 
 <runtime>
  <librariesFolder name="lib"/>
  
  <library name="target/classes"/>
  <librariesFolder name="target/lib" />
 </runtime>
 
 <extension type="URLHandler" 
  class="com.oxygenxml.examples.gdrive.CustomProtocolURLHandlerExtension"/>
  
 <extension type="WebappStaticResourcesFolder" 
  path="resources/" href="gdrive"/>
 
 <extension type="WebappServlet" 
  class="com.oxygenxml.examples.gdrive.EntryPoint"/>
 <extension type="WebappServlet" 
  class="com.oxygenxml.examples.gdrive.AuthCode"/>
 <extension type="WebappServletFilter" 
  class="com.oxygenxml.examples.gdrive.GDriveManagerFilter"/>
 <extension type="TrustedHosts"
  class="com.oxygenxml.examples.gdrive.TrustedHostsProvider"/>
</plugin>
